@media screen and (max-width: 500px) {
  .block1 {
    flex-direction: column;
  }
  #NGbug {
    width: 100vw;
    height: 98vw;
    background-size: 200vw;
    animation: NGbugMobile 1s steps(1) infinite;
  }
  #Grid {
    display: none;
  }
  #GridMobile {
    display: block;
    position: absolute;
    width: 100vw;
    height: 198.44vw;
    background-image: url("../Images/GridMobile.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    z-index: 2;
    top: -87vw;
  }
  #Starcircle {
    width: 80vw;
    height: 80vw;
    background-size: 80vw;
  }
  #LavaLamp.LavaLamp2 img {
    width: 100vw;
    height: 40vw;
    object-fit: cover;
  }
  #Planetstroke img {
    width: 300%;
    padding-left: 11.8vw;
  }
  #Planetstroke {
    animation: PlanetstrokeMobile 5s linear infinite;
  }
  .runstroke1 {
    width: 100vw;
    height: 4vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  #text1 {
    position: absolute;
    font-size: 3.4vw;
    color: white;
    width: 173vw;
    animation: runstroke1 10s infinite linear;
    text-transform: uppercase;
    line-height: 5vw;
  }
  #Star1 {
    display: none;
  }
  .runstroke1.rotate {
    transform: rotate(0deg);
    left: 0;
    top: 50.5%;
  }

  #TasksXStars {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 39.38vw;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
  }
  #Tasks {
    margin-left: 1vw;
    width: 41.72vw;
    height: 37.66vw;
    background-image: url("../Images/Tasks.svg");
    background-repeat: no-repeat;
    background-size: 250.32vw;
    animation: TasksMobile 1s steps(6) infinite;
    margin-bottom: 4vw;
  }
  #StarsFlash {
    margin-left: 4vw;
    width: 50.46vw;
    height: 37.96vw;
    background-image: url("../Images/StarsFlash.svg");
    background-repeat: no-repeat;
    background-size: 302.82vw;
    animation: StarsFlashMobile 1s steps(6) infinite;
  }
  .block2 {
    flex-direction: column;
  }
  #PlanetsXLava {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 98.44vw;
    margin-top: 14vw;
  }
  #LavaLamp img {
    width: 51vw;
    height: 97.32vw;
  }
  #LavaLamp {
    margin: -0.5vw;
  }
  #PlanetsFound {
    width: 51.56vw;
    height: 95.32vw;
    background-image: url("../Images/PlanetsFound.svg");
    background-repeat: no-repeat;
    background-size: 308.4vw;
    animation: sixstepMobile 1.5s steps(6) infinite;
  }
  #Filters {
    width: 100vw;
    height: 95.32vw;
    background-image: url("../Images/Filters.svg");
    background-repeat: no-repeat;
    background-size: 400vw;
    animation: FiltersMobile 1s steps(4) infinite;
  }
  #Date {
    position: absolute;
    width: 100vw;
    height: 30vw;
    background-image: url("../Images/Date.svg");
    background-repeat: no-repeat;
    background-size: 300vw;
    animation: DateMobile 1s steps(3) infinite;
    top: 182.78vw;
    left: 0;
    z-index: 1;
  }
  #Bar {
    width: 100vw;
    height: 163.13vw;
    background-image: url("../Images/BarMobile.svg");
    background-repeat: no-repeat;
    background-size: 200vw;
    animation: BarMobile 1s steps(2) infinite;
  }
  .block5 {
    position: relative;
    display: flex;
    height: 265.63vw;
    flex-direction: column;
  }
  #StarBoxSide1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.28vw;
    height: 43.2vw;
    background-image: url("../Images/StarBoxSide.svg");
    background-repeat: no-repeat;
    background-size: 66.56vw 43.2vw;
    animation: StarBoxSideMobile 1s steps(2) infinite;
    margin-top: -15vw;
    margin-left: 62vw;
  }
  #StarBoxSide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.28vw;
    height: 43.2vw;
    background-image: url("../Images/StarBoxSide.svg");
    background-repeat: no-repeat;
    background-size: 66.56vw 43.2vw;
    animation: StarBoxSideMobile 1s steps(2) infinite;
    margin-bottom: 63vw;
    margin-left: 62vw;
  }
  #StarBoxCentre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.28vw;
    height: 43.2vw;
    background-image: url("../Images/StarBoxSide.svg");
    background-repeat: no-repeat;
    background-size: 66.56vw 43.2vw;
    animation: StarBoxSideMobile 1s steps(2) infinite reverse;
    margin-top: -3vw;
    margin-left: 10vw;
  }
  #StarRotate1 {
    width: 21.1vw;
    height: 21.1vw;
    background-image: url("../Images/StarRotate1.svg");
    background-size: 21.1vw;
    background-repeat: no-repeat;
    animation: StarRotate 3s linear infinite;
  }
  #StarRotate2 {
    width: 21.1vw;
    height: 21.1vw;
    background-image: url("../Images/StarRotate2.svg");
    background-size: 21.1vw;
    background-repeat: no-repeat;
    animation: StarRotate 3s linear reverse infinite;
  }
  #StarRotate3 {
    width: 21.1vw;
    height: 21.1vw;
    background-image: url("../Images/StarRotate3.svg");
    background-size: 21.1vw;
    background-repeat: no-repeat;
    animation: StarRotate 3s linear infinite;
  }
  #Grid2 {
    position: absolute;
    width: 100vw;
    height: 198.44vw;
    background-image: url("../Images/GridMobile2.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    top: 0;
  }
  #GlowMobile {
    display: block;
    position: absolute;
    width: 100vw;
    height: 84.38vw;
    background-image: url("../Images/GlowMobile.svg");
    background-size: 100vw;
    top: 170vw;
  }
  #PlanetFinal {
    top: 230vw;
  }
  .Footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    margin-top: 20vw;
    position: relative;
  }
  #Footer1 {
    width: 66.56vw;
    height: 4.06vw;
    background-image: url("../Images/Footer1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10vw;
  }
  #Footer2 {
    width: 66.88vw;
    height: 4.06vw;
    background-image: url("../Images/Footer2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.2vw;
  }
  #Footer3 {
    width: 66.56vw;
    height: 4.06vw;
    background-image: url("../Images/Footer3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 7vw;
  }
  #Star1,
  #Star2,
  #Star3,
  #Star4,
  #Star5,
  #Star6,
  #Star7,
  #Star8 {
    position: absolute;
    width: 4.06vw;
    height: 4.06vw;
    background-image: url("../Images/StarsShrink.svg");
    background-repeat: no-repeat;
    background-size: 16.26vw;
    animation: StarsMobile 1s steps(4) infinite;
  }
  #Star2,
  #Star3 {
    top: 19vw;
  }
  #Star2 {
    right: 2vw;
    left: unset;
  }
  #Star3 {
    right: 6vw;
    left: unset;
  }
  #Star4 {
    right: 45vw;
    left: unset;
  }
  #Star5 {
    right: 41vw;
    left: unset;
  }
  #Star4,
  #Star5 {
    bottom: 101vw;
  }
  #Circles1 {
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    width: 10.46vw;
    height: 4.54vw;
    background-image: url("../Images/circles1.svg");
    background-repeat: no-repeat;
    background-size: 41.88vw;
    animation: circles1Mobile 1s steps(4) infinite;
  }
  #Circles2 {
    position: absolute;
    left: 5vw;
    bottom: 5vw;
    width: 10.46vw;
    height: 4.54vw;
    background-image: url("../Images/circles2.svg");
    background-repeat: no-repeat;
    background-size: 41.88vw;
    animation: circles2Mobile 1s steps(4) infinite;
  }
  #Star6 {
    position: absolute;
    left: 6.36vw;
  }
  #Star7 {
    position: absolute;
    left: 6.36vw;
    top: 4.06vw;
  }
  #Star8 {
    position: absolute;
    left: 6.36vw;
    top: 8.12vw;
  }
  #Star9,
  #Star10,
  #Star11,
  #Star12,
  #Star13,
  #Star14 {
    display: block;
    position: absolute;
    width: 16.24vw;
    height: 16.24vw;
    background-image: url("../Images/StarsShrink.svg");
    background-repeat: no-repeat;
    background-size: 65.04vw;
    animation: StarsMobileBig 1s steps(4) infinite;
  }
  #Star9,
  #Star10 {
    top: 13vw;
  }
  #Star9 {
    right: 37vw;
  }
  #Star10 {
    right: 54vw;
  }
  #Star11,
  #Star12 {
    top: 82vw;
  }
  #Star11 {
    left: 50vw;
  }
  #Star12 {
    left: 67vw;
  }
  #Star13,
  #Star14 {
    top: 159vw;
  }
  #Star13 {
    right: 37vw;
  }
  #Star14 {
    right: 54vw;
  }
  #Line {
    display: block;
    position: absolute;
    width: 100vw;
    height: 1.25vw;
    background-image: url("../Images/Line.svg");
    bottom: 0vw;
  }
}
